In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

from wrangle_zillow import wrangle_zillow as wz 

from scipy import stats
alpha = 0.5

1 Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

In [2]:
df = wz()
df.sample()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,rawcensustractandblock,...,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,logerror,transactiondate,county
22576,22576,11158482,2.0,2.0,1193.0,6037.0,34415400.0,-118516595.0,7313.0,6.037920e+07,...,0.0,2013.0,111526.0,317286.0,2016.0,205760.0,6304.49,0.018311,2017-03-31,Los_Angeles

In [3]:
df.logerror.head()

0    0.025595
1    0.055619
2    0.005383
3   -0.103410
4    0.006940
Name: logerror, dtype: float64

In [4]:
df.shape

(69729, 23)

1. What is the distribution of each of the variables? This is important as we move forward into testing and modeling.

2. Does the spending score differ across gender?

3. Is there a relationship between spending score and annual income? (Linear or otherwise).

4. Is there a relationship between age and spending score? (Linear or otherwise).

In [5]:
# Split data 
 # split the data in train, validate and test
train, test = train_test_split(df, train_size = 0.8, random_state = 123)
train, validate = train_test_split(train, train_size = 0.75, random_state = 123

SyntaxError: unexpected EOF while parsing (<ipython-input-5-6559498d7519>, line 4)

In [ ]:
train.shape, test.shape, validate.shape

## 1. What is the distribution of each of the variables? This is important as we move forward into testing and modeling.ual

In [ ]:
for col in train.columns:
    plt.figure(figsize=(4,2))
    plt.hist(train[col])
    plt.title(col)
    plt.show()