In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import env
# import wrangle

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
def get_db_url(database):
    from env import host, user, password
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
    return url

In [3]:
  sql = 'select * from customers'

In [4]:
def get_mall_customers(sql):
	    url = get_db_url('mall_customers')
	    mall_df = pd.read_sql(sql, url, index_col='customer_id')
	    return mall_df

In [5]:
mall_df = get_mall_customers(sql)

In [6]:
mall_df.head()

             gender  age  annual_income  spending_score
customer_id
1              Male   19             15              39
2              Male   21             15              81
3            Female   20             16               6
4            Female   23             16              77
5            Female   31             17              40

In [7]:
# split the data in train, validate and test
train, test = train_test_split(mall_df, train_size = 0.8, random_state = 123)
train, validate = train_test_split(train, train_size = 0.75, random_state = 123)

In [13]:
train.shape, test.shape, test.shape

((120, 4), (40, 4), (40, 4))

In [14]:
# get dummy for gender column
dummy_df = pd.get_dummies(mall_df.gender, drop_first=True)
mall_df = pd.concat([mall_df, dummy_df], axis=1).drop(columns = ['gender'])
mall_df.rename(columns= {'Male': 'is_male'}, inplace = True)

In [15]:
mall_df.sample()

             age  annual_income  spending_score  is_male
customer_id
115           18             65              48        0

In [19]:
# Count missing values
mall_df.isna().sum().sum()

0

In [20]:
mall_df.isna().sum()

age               0
annual_income     0
spending_score    0
is_male           0
dtype: int64

In [22]:
# scale data
num_vars = list(train.select_dtypes('number').columns)
scaler = MinMaxScaler(copy=True, feature_range=(0,1))
train[num_vars] = scaler.fit_transform(train[num_vars])
validate[num_vars] = scaler.transform(validate[num_vars])
test[num_vars] = scaler.transform(test[num_vars])

AttributeError: 'MinMaxScaler' object has no attribute 'head'